* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
}

main {
  display: block;
  position: relative;
}

section {
  display: block;
  position: relative;
}

input[type='button'] {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Ubuntu';
  overflow-x: hidden;
  overflow-y: auto;
  background: url(../img/Background.png) no-repeat center fixed;
}

.flex {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.btn {
  cursor: pointer;
}

.bg-img {
  position: absolute;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.btn_message {
  width: 268px;
  height: 53px;
  font-size: 24px;
  font-weight: bold;
  line-height: 2;
  color: #606060;
  background: transparent;
  border: 3px solid rgba(74, 74, 74, 0.5);
  border-radius: 5px;
}

.btn_message:hover {
  color: orange;
  -webkit-box-shadow: 1px 1px 10px 1px orange;
          box-shadow: 1px 1px 10px 1px orange;
  border-color: rgba(255, 166, 0, 0.685);
}

.btn_message:active {
  color: orange;
  -webkit-box-shadow: 1px 1px 5px 1px orange;
          box-shadow: 1px 1px 5px 1px orange;
  border-color: rgba(255, 166, 0, 0.685);
}

/****************Header start****************/
header {
  position: relative;
  width: 100vw;
  height: 1080px;
}

header #background {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  z-index: 6;
  background-image: url(../img/Landscape.png);
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  -webkit-transition: opacity 2000ms ease-in 1000ms, background-position 2500ms ease-in-out 300ms;
  transition: opacity 2000ms ease-in 1000ms, background-position 2500ms ease-in-out 300ms;
}

header .logo {
  position: fixed;
  width: 77px;
  height: 56px;
  margin: 47px 0 0 55px;
  z-index: 35;
}

header .btn--hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 57px;
  height: 57px;
  right: 70px;
  margin-top: 48px;
  border: none;
  -webkit-transition: ease-in-out 500ms;
  transition: ease-in-out 500ms;
  z-index: 500;
}

header .btn--hamburger:hover {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

header .btn--hamburger:hover div {
  border-radius: 0;
  height: 57px;
}

header .btn--hamburger div {
  width: 13px;
  height: 13px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 50%;
  -webkit-transition: height 350ms 500ms cubic-bezier(1, -0.8, 0.3, 2), border-radius 200ms 500ms cubic-bezier(1, -0.8, 0.3, 2);
  transition: height 350ms 500ms cubic-bezier(1, -0.8, 0.3, 2), border-radius 200ms 500ms cubic-bezier(1, -0.8, 0.3, 2);
  background-color: white;
}

.parallax {
  top: 0;
  left: 0;
}

.parallax .top-rocks {
  width: 2612px;
  height: 876px;
  left: -240px;
  top: 913px;
  z-index: 10;
}

.parallax .middle-rocks {
  width: 1642px;
  height: 875px;
  right: -728px;
  top: 575px;
  z-index: 9;
}

.parallax .back-rocks {
  width: 2612px;
  height: 876px;
  left: -1019px;
  top: 799px;
  z-index: 8;
}

.parallax .palm {
  width: 577px;
  height: 612px;
  left: 36px;
  top: 388px;
  z-index: 33;
}

.parallax .mountain {
  position: absolute;
  top: 267px;
  right: -342px;
  z-index: 13;
}

.parallax .mountain img {
  width: 818px;
  height: 2118px;
}

.parallax #cliffhanger {
  position: absolute;
  width: 100px;
  height: 170px;
  right: 425px;
  top: -300px;
  z-index: 16;
  margin-right: 0;
  -webkit-transition: margin-right 500ms ease-in-out, -webkit-transform 1000ms cubic-bezier(0, 1.3, 0.1, 0.93) 3500ms;
  transition: margin-right 500ms ease-in-out, -webkit-transform 1000ms cubic-bezier(0, 1.3, 0.1, 0.93) 3500ms;
  transition: margin-right 500ms ease-in-out, transform 1000ms cubic-bezier(0, 1.3, 0.1, 0.93) 3500ms;
  transition: margin-right 500ms ease-in-out, transform 1000ms cubic-bezier(0, 1.3, 0.1, 0.93) 3500ms, -webkit-transform 1000ms cubic-bezier(0, 1.3, 0.1, 0.93) 3500ms;
}

.parallax #trigger {
  position: absolute;
  width: 90px;
  height: 60px;
  right: 430px;
  top: -300px;
  z-index: 34;
}

.parallax #trigger:hover ~ .cliffhanger {
  margin-right: -25px;
}

.title_1 {
  position: relative;
  height: 105px;
  margin: -120px auto 0 auto;
  font-weight: bold;
  color: white;
  z-index: 34;
  -webkit-transition: margin cubic-bezier(0, 1.35, 0, 0.95) 700ms;
  transition: margin cubic-bezier(0, 1.35, 0, 0.95) 700ms;
  -webkit-transition-delay: 3000ms;
          transition-delay: 3000ms;
}

.title_1 .main {
  position: relative;
  top: 0;
  line-height: 48px;
  text-align: center;
  font-size: 72px;
  letter-spacing: 2px;
  text-shadow: 0 5px 0 rgba(0, 0, 0, 0.19);
}

.title_1 .slogan {
  position: relative;
  margin-left: 10px;
  line-height: 90px;
  text-align: center;
  font-size: 24px;
  letter-spacing: 14.4px;
  text-shadow: 0 5px 0 rgba(0, 0, 0, 0.19);
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  width: 27px;
  height: 234px;
  top: calc(50vh - 115px);
  right: 67px;
  z-index: 40;
}

.slide li a {
  display: block;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 3;
  cursor: pointer;
  -webkit-transition: color 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  transition: color 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, color 250ms ease-in-out;
  transition: transform 250ms ease-in-out, color 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  color: #535353;
}

.slide li a:hover {
  color: orange;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.arrow-down {
  width: 100vw;
  top: calc(100vh - 55px);
  left: 50%;
  cursor: pointer;
  z-index: 24;
}

.arrow-down img {
  width: 22px;
  height: auto;
  margin: 0 auto;
}

/****************Header end****************/
/****************About start****************/
#about {
  height: 1080px;
  padding-top: 1px;
  z-index: 27;
  background-color: black;
}

#about .flex-container {
  margin-top: 120px;
}

#about .title_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 245px;
  height: 51px;
  margin-left: 408px;
  z-index: 41;
}

#about ._2 {
  font-size: 72px;
  font-weight: bold;
  color: #2b1706;
  line-height: 0.667;
  text-align: left;
  z-index: 41;
}

#about .main {
  margin: auto;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.333;
  text-align: left;
  z-index: 46;
  color: white;
}

#about .about_btn_message {
  position: relative;
  right: 410px;
  z-index: 41;
}

#about .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 994px;
  height: 532px;
  margin: 115px auto 0 auto;
}

#about .text-container h1 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2.667;
  text-align: center;
  letter-spacing: 1.4px;
  z-index: 43;
  color: #606060;
}

#about .text-container p {
  width: 994px;
  height: 308px;
  text-align: center;
  font-size: 20px;
  line-height: 2.3;
  letter-spacing: 0.8px;
  z-index: 42;
  color: #606060;
}

#about .btn_video {
  display: block;
  position: relative;
  width: 245px;
  height: 70px;
  margin: 106px auto 0 auto;
  font-size: 20px;
  font-weight: bold;
  line-height: 3.07;
  letter-spacing: 1px;
  z-index: 60;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  -webkit-transition: font-size 300ms ease-in-out, background-color 500ms ease-in-out, -webkit-box-shadow 100ms ease-in;
  transition: font-size 300ms ease-in-out, background-color 500ms ease-in-out, -webkit-box-shadow 100ms ease-in;
  transition: box-shadow 100ms ease-in, font-size 300ms ease-in-out, background-color 500ms ease-in-out;
  transition: box-shadow 100ms ease-in, font-size 300ms ease-in-out, background-color 500ms ease-in-out, -webkit-box-shadow 100ms ease-in;
  color: white;
  background-color: #ffc926;
}

#about .btn_video:hover {
  font-size: 21px;
  background-color: #b18b1b;
}

#about .btn_video:active {
  font-size: 19px;
  -webkit-box-shadow: 1px 1px 2px 4px rgba(0, 0, 0, 0.7) inset;
          box-shadow: 1px 1px 2px 4px rgba(0, 0, 0, 0.7) inset;
  background-color: #b18b1b;
}

#about .logo-bg {
  width: 1154px;
  height: 840px;
  right: -83px;
  top: 625px;
  z-index: 60;
}

/****************About end****************/
/****************Portfolio start****************/
#portfolio {
  height: 1080px;
  padding-top: 1px;
  z-index: 41;
  background-color: #051554;
}

#portfolio .title_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  margin-top: 72px;
  height: 51px;
  right: 410px;
  z-index: 41;
}

#portfolio .main {
  margin-right: 14px;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.333;
  z-index: 63;
  color: #6e7aaa;
}

#portfolio ._3 {
  font-size: 72px;
  font-weight: bold;
  line-height: 0.667;
  text-align: left;
  z-index: 64;
  color: #3b4365;
}

.slider_middle {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transition: left 500ms ease-in-out;
  transition: left 500ms ease-in-out;
}

.slider_middle .splitter {
  position: absolute;
  width: 5px;
  height: 1080px;
  z-index: 144;
  background-color: white;
}

.slider_middle .wirefeame_arrow {
  width: 10px;
  height: 17px;
  top: 17px;
  cursor: pointer;
  z-index: 146;
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
}

.slider_middle .wirefeame_arrow.left {
  left: 5px;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.slider_middle .wirefeame_arrow.right {
  right: 5px;
}

.slider_middle .wirefeame_slider {
  position: absolute;
  width: 30px;
  height: 60px;
  top: 514px;
  border: 5px solid white;
  cursor: pointer;
  z-index: 145;
  -webkit-transition: background-color 20ms ease-in, border-color 20ms ease-in;
  transition: background-color 20ms ease-in, border-color 20ms ease-in;
  background-color: white;
}

.slider_middle .wirefeame_slider.left {
  left: calc(50% - 29px);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.slider_middle .wirefeame_slider.left:hover {
  background-color: #ffb235;
  border-color: #ffb235;
}

.slider_middle .wirefeame_slider.left:hover .wirefeame_arrow.left {
  -webkit-transform: scale(1.3) rotate(180deg);
          transform: scale(1.3) rotate(180deg);
}

.slider_middle .wirefeame_slider.left:active .wirefeame_arrow.left {
  -webkit-transform: scale(1) rotate(180deg);
          transform: scale(1) rotate(180deg);
}

.slider_middle .wirefeame_slider.right {
  left: calc(50% + 4px);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.slider_middle .wirefeame_slider.right:hover {
  background-color: #ffb235;
  border-color: #ffb235;
}

.slider_middle .wirefeame_slider.right:hover .wirefeame_arrow.right {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.slider_middle .wirefeame_slider.right:active .wirefeame_arrow.right {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.slide_side {
  position: absolute;
  top: 514px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
}

.slide_side.left {
  left: 62px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.slide_side.left:hover {
  -webkit-transform: scale(1.05) rotateY(180deg);
          transform: scale(1.05) rotateY(180deg);
}

.slide_side.left:active {
  -webkit-transform: scale(0.95) rotateY(180deg);
          transform: scale(0.95) rotateY(180deg);
}

.slide_side.right {
  right: 62px;
}

.slide_side.right:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.slide_side.right:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.mobile_phone {
  position: absolute;
  width: 308px;
  height: 600px;
  top: 248px;
  left: calc(50% - 154px);
  z-index: 60;
}

.mobile_phone div {
  position: absolute;
  top: 0;
}

.mobile_phone .wireframe_whole {
  height: calc(100% + 14px);
  margin-top: 2px;
  opacity: 0;
  z-index: 61;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.mobile_phone .wireframe_whole img {
  margin: -10px 0 0 -3px;
  height: 100%;
}

.mobile_phone .flat_whole {
  opacity: 0;
  z-index: 62;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.mobile_phone .flat_whole img {
  margin: 0 0 0 3px;
}

.mobile_phone .wireframe_halfe {
  left: -28px;
  top: -38px;
  height: calc(100% + 118px);
  z-index: 63;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.mobile_phone .wireframe_halfe img {
  height: 100%;
}

.mobile_phone .flat_halfe {
  right: -2px;
  top: 0;
  z-index: 63;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.mobile_phone .flat_halfe img {
  height: 100%;
}

.work_slider {
  opacity: 1;
  -webkit-transition: opacity ease-in 500ms;
  transition: opacity ease-in 500ms;
}

.work_wireframe {
  opacity: 0;
  -webkit-transition: opacity ease-in 500ms;
  transition: opacity ease-in 500ms;
}

.work_wireframe .wireframe_whole {
  opacity: 1;
}

.work_flat {
  opacity: 0;
  -webkit-transition: opacity ease-in 500ms;
  transition: opacity ease-in 500ms;
}

.work_flat .flat_whole {
  opacity: 1;
}

.text-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 65px;
  left: 410px;
  z-index: 80;
}

.text-bottom div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 66px;
  height: 53px;
  bottom: 65px;
  font-size: 36px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  background-color: #a43a3a;
}

.text-bottom h1 {
  margin-left: 21px;
  font-size: 30px;
  font-weight: 100;
  line-height: 1.6;
  color: #5c6db2;
}

.view-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 142px;
  height: 19px;
  bottom: 83px;
  right: 403px;
  cursor: pointer;
  color: white;
}

.view-case h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
}

.view-case .arrow {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

/****************Portfolio end****************/
/****************Footer start****************/
footer {
  position: relative;
  height: 279px;
  z-index: 81;
  background-image: url("../img/Footer.png");
}

footer .logo {
  position: absolute;
  width: 147px;
  height: 115px;
  left: 410px;
  bottom: 84px;
}

footer .logo img {
  position: absolute;
}

footer .logo .logo_img {
  top: 0;
}

footer .logo .logo_txt {
  bottom: 0;
}

footer .footer_btn_message {
  position: absolute;
  left: calc(50vw - 135px);
  bottom: 127px;
}

footer .copyright {
  position: absolute;
  width: 319px;
  height: 16px;
  left: 801px;
  bottom: 51px;
  opacity: 0.1;
  z-index: 82;
  color: #f5f5f5;
}

footer .copyright p {
  font-size: 16px;
  font-weight: 500;
  line-height: 61.4px;
  text-align: center;
}

footer .facebook {
  right: 535px;
  opacity: 0;
}

footer .linkedin {
  right: 495px;
  opacity: 0;
}

footer .google-plus {
  right: 455px;
  opacity: 0;
}

footer .twitter {
  right: 400px;
  opacity: 0;
}

footer .instagram {
  right: 355px;
  opacity: 0;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 195px;
  height: 21px;
  right: 404px;
  bottom: 174px;
  z-index: 83;
}

footer .social i {
  cursor: pointer;
  font-size: 24px;
  opacity: 0.5;
  color: #bcbcc4;
}

footer .social i:hover {
  opacity: 1;
  color: white;
}

footer .text-bubble {
  position: absolute;
  width: 110px;
  height: 40px;
  bottom: 125px;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

footer .text-bubble p {
  margin-top: -35px;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: white;
}

.Rounded_Rectangle_1 {
  position: absolute;
  left: 1405px;
  top: 3350px;
  width: 108px;
  height: 52px;
  z-index: 186;
  opacity: 0.98;
  border: 3px solid #1a1a1a;
  background-color: black;
}

/****************Footer end****************/
/****************Menu start****************/
.menu {
  position: fixed;
  width: 0;
  height: 0;
  top: 0;
  z-index: 200;
  opacity: 0.97;
  -webkit-transition: width 200ms ease-in, height 200ms ease-in;
  transition: width 200ms ease-in, height 200ms ease-in;
  background-color: black;
}

.menu .menu_bar {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 148px;
  height: 202px;
  top: 231px;
  left: calc(50vw - 73px);
  z-index: 201;
}

.menu .menu_bar ul li a {
  display: block;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.75px;
  line-height: 2;
  letter-spacing: -0.75px;
  cursor: pointer;
  color: #2f2f2f;
}

.menu .menu_bar ul li a:hover {
  color: white;
}

/****************Menu end****************/
/****************Popup start****************/
form {
  display: none;
  position: fixed;
  width: 700px;
  height: auto;
  left: calc(50vw - 360px);
  top: calc(50vh - 372px);
  border-radius: 10px;
  background-color: white;
  z-index: 203;
}

form:before {
  content: '';
  position: fixed;
  width: 720px;
  height: 774px;
  margin: -10px 0 0 -10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}

form h1 {
  position: relative;
  margin: 40px 0 62px 0;
  font-size: 30px;
  text-align: center;
  color: #606060;
}

form p {
  position: relative;
  margin: 19px 0 25px 0;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 16px;
}

form input[type='text'] {
  display: block;
  position: relative;
  width: 92%;
  left: 25px;
  margin-right: -25px;
  -webkit-transform: translate(-25px -25px);
          transform: translate(-25px -25px);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 1.6px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.15);
  color: #878686;
  background-color: #f6f6f6;
  height: 65px;
  padding: 2px 0 0 46px;
}

form input[type='text']:focus {
  border: 2px solid black;
}

form input[type='text']::-webkit-input-placeholder {
  color: #cdcdcd;
}

form input[type='text']:-ms-input-placeholder {
  color: #cdcdcd;
}

form input[type='text']::-ms-input-placeholder {
  color: #cdcdcd;
}

form input[type='text']::placeholder {
  color: #cdcdcd;
}

form textarea {
  display: block;
  position: relative;
  width: 92%;
  left: 25px;
  margin-right: -25px;
  -webkit-transform: translate(-25px -25px);
          transform: translate(-25px -25px);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 1.6px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.15);
  color: #878686;
  background-color: #f6f6f6;
  height: 185px;
  margin-bottom: 33px;
  padding: 21px 0 0 46px;
  font-family: 'Ubuntu';
}

form textarea:focus {
  border: 2px solid black;
}

form textarea::-webkit-input-placeholder {
  color: #cdcdcd;
}

form textarea:-ms-input-placeholder {
  color: #cdcdcd;
}

form textarea::-ms-input-placeholder {
  color: #cdcdcd;
}

form textarea::placeholder {
  color: #cdcdcd;
}

form input[type='button'] {
  position: relative;
  width: 208px;
  height: 70px;
  margin: 0 0 39px calc(50% - 104px);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  border: none;
  border-radius: 5px;
  -webkit-transition: font-size 200ms ease-in-out, -webkit-box-shadow 80ms ease-in-out;
  transition: font-size 200ms ease-in-out, -webkit-box-shadow 80ms ease-in-out;
  transition: box-shadow 80ms ease-in-out, font-size 200ms ease-in-out;
  transition: box-shadow 80ms ease-in-out, font-size 200ms ease-in-out, -webkit-box-shadow 80ms ease-in-out;
  color: white;
  background-color: #e75735;
}

form input[type='button']:hover {
  font-size: 28px;
}

form input[type='button']:active {
  -webkit-box-shadow: 1px 1px 2px 4px rgba(0, 0, 0, 0.7) inset;
          box-shadow: 1px 1px 2px 4px rgba(0, 0, 0, 0.7) inset;
}

form .location {
  position: absolute;
  margin: 22px 0 0 44px;
  opacity: 0.5;
  z-index: 300;
}

form #close {
  position: absolute;
  top: 27px;
  right: 25px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */