@import './custom.scss';

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
	background-color: black;
}

body {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	font-family: 'Ubuntu';
	overflow-x: hidden;
	overflow-y: auto;
	background: url(../img/Background.png) no-repeat center fixed;
	@media only screen and (max-width: 600px) {
		overflow-y: hidden;
	}
}

.flex {
	flex: 1;
}

.btn {
	cursor: pointer;
}

.bg-img {
	position: absolute;
}

.flex-container {
	display: flex;
	width: 100%;
}

.btn_message {
	width: 13.99vw;
	height: 2.75vw;
	font: {
		size: 1.25vw;
		weight: bold;
	}
	line-height: 2;
	color: $base_font_clr;
	background: transparent;
	border: 0.16vw solid rgba(74, 74, 74, 0.5) {
		radius: $radius_5px;
	}
	&:hover {
		color: $base_orange_clr;
		box-shadow: 1px 1px 0.9vw 1px $base_orange_clr;
		border-color: rgba(255, 166, 0, 0.685);
	}
	&:active {
		color: $base_orange_clr;
		box-shadow: 1px 1px 0.45vw 1px $base_orange_clr;
		border-color: rgba(255, 166, 0, 0.685);
	}
}

/****************Header start****************/
header {
	position: relative;
	width: 100%;
	height: $section_height;
	#background {
		position: fixed;
		width: 100vw;
		height: auto;
		opacity: 0;
		z-index: 6;
		background: {
			image: url(../img/Landscape.png);
			attachment: fixed;
			position: bottom;
			size: cover;
		}
		transition: opacity 2000ms ease-in 1000ms,
			background-position 2500ms ease-in-out 300ms {

		}
	}
	.logo {
		position: fixed;
		width: 4vw;
		height: auto;
		margin: 2.45vw 0 0 2.85vw;
		z-index: 35;
	}
	.btn--hamburger {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		position: fixed;
		width: 3vw;
		height: 3vw;
		right: 3.65vw;
		margin-top: 2.48vw;
		border: none;
		transition: ease-in-out 500ms;
		z-index: 500;
		&:hover {
			transform: rotateZ(90deg);
			div {
				border-radius: 0;
				height: 3vw;
			}
		}
		div {
			width: 0.65vw;
			height: 0.65vw;
			align-self: center;
			border-radius: 50%;
			transition: height 350ms 500ms $transition_stretch,
				border-radius 200ms 500ms $transition_stretch;
			background-color: white;
		}
	}
}

.parallax {
	top: 0;
	left: 0;
	.top-rocks {
		width: 100vw;
		height: auto;
		left: 0;
		top: 47.55vw;
		z-index: 10;
	}
	.middle-rocks {
		width: 47.6vw;
		height: auto;
		right: 0;
		top: 29.95vw;
		z-index: 9;
	}
	.back-rocks {
		width: 83vw;
		height: auto;
		left: 0;
		top: 41.6vw;
		z-index: 8;
	}
	.palm {
		width: 30.05vw;
		height: auto;
		left: 1.9vw;
		top: 20.2vw;
		z-index: 33;
	}
	.mountain {
		position: absolute;
		top: 13.9vw;
		right: 0;
		z-index: 13;
		img {
			width: 24.81vw;
			height: auto;
		}
	}
	#cliffhanger {
		position: absolute;
		width: 5.2vw;
		height: auto;
		right: 22.15vw;
		top: -15.6vw;
		z-index: 16;
		margin-right: 0;
		transition: margin-right 500ms ease-in-out,
			transform 1000ms cubic-bezier(0, 1.3, 0.1, 0.93) 3500ms;
		img {
			width: 5.2vw;
			height: auto;
		}
	}
	#trigger {
		position: absolute;
		width: 5vw;
		height: 3.5vw;
		right: 23vw;
		top: -16vw;
		z-index: 34;
		&:hover {
			~ .cliffhanger {
				margin-right: -0.8vw;
			}
		}
	}
}

.title_1 {
	position: relative;
	margin: -70vw auto 0 auto;
	font-weight: bold;
	color: white;
	z-index: 34;
	transition: margin $transition_bounce 700ms {
		delay: 3000ms;
	}
	.main {
		position: relative;
		top: 0;
		line-height: 2.5vw;
		text-align: center;
		font-size: $num_size;
		letter-spacing: 0.104vw;
		text-shadow: $title_shadow;
	}
	.slogan {
		position: relative;
		margin-left: 0.5vw;
		line-height: 4.7vw;
		text-align: center;
		font-size: 1.247vw;
		letter-spacing: 0.751vw;
		text-shadow: $title_shadow;
	}
}

.slide {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	height: 12.2vw;
	top: calc(50vh - 5.97vw);
	right: 3.5vw;
	z-index: 40;
	li {
		a {
			display: block;
			font: {
				size: 1.25vw;
				weight: bold;
			}
			text-decoration: none;
			align-self: center;
			line-height: 3;
			cursor: pointer;
			transition: transform 250ms ease-in-out, color 250ms ease-in-out;
			color: rgb(83, 83, 83);
			&:hover {
				color: $base_orange_clr;
				transform: scale(1.1);
			}
		}
	}
	@media only screen and (max-width: 600px) {
		top: 20vw;
	}
}

.arrow-down {
	width: 100vw;
	top: 45.95vw;
	left: 50%;
	cursor: pointer;
	z-index: 24;
	img {
		width: 1.15vw;
		height: auto;
		margin: 0 auto;
	}
}
/****************Header end****************/

/****************About start****************/
#about {
	height: $section_height;
	padding-top: 1px;
	z-index: 27;
	background-color: black;
	.flex-container {
		margin-top: 6.25vw;
	}
	.title_2 {
		display: flex;
		flex-direction: row;
		position: relative;
		width: 12.767vw;
		height: 2.7vw;
		margin-left: 21.24vw;
		z-index: 41;
	}
	._2 {
		font: {
			size: $num_size;
			weight: bold;
		}
		color: rgb(43, 23, 6);
		line-height: 0.667;
		text-align: left;
		z-index: 41;
	}
	.main {
		margin: auto;
		font: {
			size: 1.875vw;
			weight: bold;
		}
		line-height: 1.333;
		text-align: left;
		z-index: 46;
		color: white;
	}
	.about_btn_message {
		position: relative;
		right: $about_message_right;
		z-index: 41;
	}
	.text-container {
		display: flex;
		flex-direction: column;
		position: relative;
		width: $text_container_width;
		height: 27.7vw;
		margin: 6vw auto 0 auto;
		h1 {
			font: {
				size: 0.938vw;
				weight: 700;
			}
			line-height: 2.667;
			text-align: center;
			letter-spacing: 0.073vw;
			z-index: 43;
			color: $base_font_clr;
		}
		p {
			width: $text_container_width;
			height: 16.057vw;
			text-align: center;
			font-size: $font_20px;
			line-height: 2.3;
			letter-spacing: 0.042vw;
			z-index: 42;
			color: $base_font_clr;
		}
	}
	.btn_video {
		display: block;
		position: relative;
		width: 12.75vw;
		height: 3.65vw;
		margin: 5.55vw auto 0 auto;
		font: {
			size: $font_20px;
			weight: bold;
		}
		line-height: 3.07;
		letter-spacing: $dimension_1px;
		z-index: 60;
		cursor: pointer;
		border: none {
			radius: 2vw;
		}
		transition: box-shadow 100ms ease-in, font-size 100ms ease-in-out,
			background-color 500ms ease-in-out;
		color: white;
		background-color: rgb(255, 201, 38);
		&:hover {
			font-size: $font_20px * 1.02;
			background-color: rgb(177, 139, 27);
		}
		&:active {
			font-size: $font_20px * 0.98;
			box-shadow: $border_active_shadow;
			background-color: rgb(177, 139, 27);
		}
	}
	.logo-bg {
		width: 60.1vw;
		height: 43.8vw;
		right: -4.3vw;
		top: 32.55vw;
		z-index: 60;
	}
}

/****************About end****************/

/****************Portfolio start****************/
#portfolio {
	height: $section_height;
	padding-top: 1px;
	z-index: 41;
	background-color: $portfolio_bg;
	.title_3 {
		display: flex;
		flex-direction: row;
		position: relative;
		margin-top: $num_size;
		right: $about_message_right;
		z-index: 41;
	}
	.main {
		margin-right: 0.73vw;
		font: {
			size: $font_36px;
			weight: bold;
		}
		line-height: 1.333;
		z-index: 63;
		color: #6e7aaa;
	}
	._3 {
		font: {
			size: $num_size;
			weight: bold;
		}
		line-height: 0.667;
		text-align: left;
		z-index: 64;
		color: #3b4365;
	}
}

.slider_middle {
	position: absolute;
	left: 50%;
	top: 0;
	transition: left 500ms ease-in-out;
	.splitter {
		position: absolute;
		width: 0.25vw;
		height: $section_height;
		z-index: 144;
		background-color: white;
	}
	.wirefeame_arrow {
		width: 0.51vw;
		height: 0.9vw;
		top: 0.9vw;
		cursor: pointer;
		z-index: 146;
		transition: transform 100ms ease-in-out;
		&.left {
			left: 0.25vw;
			transform: rotateZ(180deg);
		}
		&.right {
			right: 0.25vw;
		}
	}
	.wirefeame_slider {
		position: absolute;
		width: 1.56vw;
		height: 3.12vw;
		top: 26.78vw;
		border: 0.26vw solid white;
		cursor: pointer;
		z-index: 145;
		transition: background-color 20ms ease-in, border-color 20ms ease-in;
		background-color: white;
		&.left {
			left: calc(50% - 1.5vw);
			border-top-left-radius: 2.5vw;
			border-bottom-left-radius: 2.5vw;
			&:hover {
				background-color: $wireframe_hover_bg;
				border-color: $wireframe_hover_bg;
				.wirefeame_arrow {
					&.left {
						transform: scale(1.3) rotate(180deg);
					}
				}
			}
			&:active {
				.wirefeame_arrow {
					&.left {
						transform: scale(1) rotate(180deg);
					}
				}
			}
		}
		&.right {
			left: calc(50% + 0.2vw);
			border-top-right-radius: 2.5vw;
			border-bottom-right-radius: 2.5vw;
			&:hover {
				background-color: $wireframe_hover_bg;
				border-color: $wireframe_hover_bg;
				.wirefeame_arrow {
					&.right {
						transform: scale(1.3);
					}
				}
			}
			&:active {
				.wirefeame_arrow {
					&.right {
						transform: scale(1);
					}
				}
			}
		}
	}
}

.slide_side {
	position: absolute;
	width: 3.248vw;
	height: auto;
	top: 26.75vw;
	cursor: pointer;
	transition: transform 100ms ease-in-out;
	&.left {
		left: 3.25vw;
		transform: rotateY(180deg);
		&:hover {
			transform: scale(1.05) rotateY(180deg);
		}
		&:active {
			transform: scale(0.95) rotateY(180deg);
		}
	}
	&.right {
		right: 3.229vw;
		&:hover {
			transform: scale(1.05);
		}
		&:active {
			transform: scale(0.95);
		}
	}
}

.mobile_phone {
	position: absolute;
	width: 16.04vw;
	height: 31.25vw;
	top: 12.9vw;
	left: calc(50% - 8.02vw);
	z-index: 60;
	div {
		position: absolute;
		top: 0;
	}
	.wireframe_whole {
		height: 32vw;
		margin-top: 0.1vw;
		opacity: 0;
		z-index: 61;
		transition: opacity 500ms ease-in-out;
		img {
			margin: -0.5vw 0 0 -0.15vw;
			height: 100%;
		}
	}
	.flat_whole {
		height: 31.1vw;
		width: auto;
		opacity: 0;
		z-index: 62;
		transition: opacity 500ms ease-in-out;
		img {
			margin: 0 0 0 0.15vw;
			height: 100%;
		}
	}
	.wireframe_halfe {
		left: -1.458vw;
		top: -1.955vw;
		height: 37.5vw;
		z-index: 63;
		transition: opacity 500ms ease-in-out;
		img {
			height: 100%;
		}
	}
	.flat_halfe {
		height: 31.25vw;
		right: -0.104vw;
		top: 0;
		z-index: 63;
		transition: opacity 500ms ease-in-out;
		img {
			height: 100%;
		}
	}
}

.work_slider {
	opacity: 1;
	transition: opacity ease-in 500ms;
}
.work_wireframe {
	opacity: 0;
	transition: opacity ease-in 500ms;
	.wireframe_whole {
		opacity: 1;
	}
}
.work_flat {
	opacity: 0;
	transition: opacity ease-in 500ms;
	.flat_whole {
		opacity: 1;
	}
}

.text-bottom {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: absolute;
	bottom: 3.37vw;
	left: 21.354vw;
	z-index: 80;
	div {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 3.437vw;
		height: 2.78vw;
		bottom: 3.37vw;
		font: {
			size: $font_36px;
			weight: bold;
		}
		border-radius: $radius_5px;
		color: white;
		background-color: #a43a3a;
	}
	h1 {
		margin-left: 1.093vw;
		font: {
			size: $font_30px;
			weight: 100;
		}
		line-height: 1.6;
		color: rgb(92, 109, 178);
	}
}

.view-case {
	display: flex;
	position: absolute;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 7.395vw;
	height: 0.9vw;
	bottom: 4.33vw;
	right: 20.989vw;
	cursor: pointer;
	color: white;
	h1 {
		font: {
			size: $font_24px;
			weight: 700;
		}
		text-align: left;
	}
	.arrow {
		width: 0.51vw;
		height: auto;
		align-self: flex-end;
	}
}
/****************Portfolio end****************/

/****************Footer start****************/
footer {
	position: relative;
	width: 100vw;
	height: 14.54vw;
	z-index: 81;
	background: {
		image: url('../img/Footer.png');
		size: cover;
	}
	.logo {
		position: absolute;
		width: auto;
		height: 6vw;
		left: 21.354vw;
		bottom: 4.4vw;
		img {
			position: absolute;
		}
		.logo_img {
			width: 3.45vw;
			height: auto;
			top: 0;
		}
		.logo_txt {
			width: 7.65vw;
			height: auto;
			bottom: 0;
		}
	}
	.footer_btn_message {
		position: absolute;
		left: 42.97vw;
		bottom: 6.64vw;
	}
	.copyright {
		position: absolute;
		width: 16.614vw;
		height: 0.85vw;
		left: 41.718vw;
		bottom: 2.655vw;
		opacity: 0.1;
		z-index: 82;
		color: #f5f5f5;
		p {
			font: {
				size: $font_16px;
				weight: 500;
			}
			line-height: 3.2vw;
			text-align: center;
		}
	}
	.facebook {
		right: 27.864vw;
		opacity: 0;
	}
	.linkedin {
		right: 25.78vw;
		opacity: 0;
	}
	.google-plus {
		right: 23.697vw;
		opacity: 1;
	}
	.twitter {
		right: 20.83vw;
		opacity: 0;
	}
	.instagram {
		right: 18.489vw;
		opacity: 0;
	}
	.social {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		width: 10.156vw;
		height: 1.1vw;
		right: 21.04vw;
		bottom: 9.05vw;
		z-index: 83;
		i {
			cursor: pointer;
			font-size: $font_24px;
			opacity: 0.5;
			color: #bcbcc4;
			&:hover {
				opacity: 1;
				color: white;
			}
		}
	}
	.text-bubble {
		position: absolute;
		width: 5.729vw;
		height: 2.1vw;
		bottom: 6.5vw;
		transition: opacity 300ms ease-in-out;
		img {
			width: 5.8vw;
		}
		p {
			margin-top: -1.8vw;
			font: {
				size: $font_16px;
				weight: 700;
			}
			font-style: normal;
			letter-spacing: normal;
			text-align: center;
			color: white;
		}
	}
}

/****************Footer end****************/

/****************Menu start****************/

.menu {
	position: fixed;
	width: 0;
	height: 0;
	top: 0;
	z-index: 200;
	opacity: 0.97;
	transition: width 200ms ease-in, height 200ms ease-in;
	background-color: black;
	.menu_bar {
		display: none;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		width: 7.708vw;
		height: auto;
		top: 12.05vw;
		left: 46.2vw;
		z-index: 201;
		ul {
			li {
				a {
					display: block;
					font: {
						size: $font_30px;
						weight: 400;
					}
					text-align: center;
					line-height: 2;
					letter-spacing: -0.04vw;
					cursor: pointer;
					color: #2f2f2f;
					&:hover {
						color: white;
					}
				}
			}
		}
	}
}
/****************Menu end****************/

/****************Popup start****************/
form {
	display: none;
	position: fixed;
	width: 36.458vw;
	height: auto;
	left: 31.25vw;
	top: 5.05vw;
	border-radius: $radius_10px;
	background-color: white;
	z-index: 203;
	&:before {
		content: '';
		position: fixed;
		width: 37.5vw;
		height: 40.3vw;
		margin: -0.5vw 0 0 -0.52vw;
		border-radius: $radius_10px;
		background-color: rgba(255, 255, 255, 0.2);
	}
	h1 {
		position: relative;
		margin: 2.1vw 0 3.2vw 0;
		font-size: $font_30px;
		text-align: center;
		color: #606060;
	}
	p {
		position: relative;
		margin: 1vw 0 1.31vw 0;
		font: {
			size: $font_14px;
			weight: 700;
		}
		text-align: center;
	}
	input[type='text'] {
		@include f_input;
		height: 3.388vw;
		padding: 0.1vw 0 0 $input_padding_right;
		&::placeholder {
			color: $f_input_placeholder_bg;
		}
	}
	textarea {
		@include f_input;
		height: 9.65vw;
		margin-bottom: 1.75vw;
		padding: 1.1vw 0 0 $input_padding_right;
		font-family: 'Ubuntu';
		&::placeholder {
			color: $f_input_placeholder_bg;
		}
	}
	input[type='button'] {
		position: relative;
		width: 10.85vw;
		height: 3.6vw;
		margin: 0 0 2.05vw 12.8vw;
		font: {
			size: $font_24px;
			weight: 700;
		}
		line-height: $font_30px;
		text-align: center;
		border: none {
			radius: $radius_5px;
		}
		transition: box-shadow 80ms ease-in-out, font-size 200ms ease-in-out;
		color: white;
		background-color: #e75735;
		&:hover {
			font-size: 1.5vw;
		}
		&:active {
			box-shadow: $border_active_shadow;
		}
	}

	.location {
		position: absolute;
		margin: 1.14vw 0 0 2.3vw;
		opacity: 0.5;
		z-index: 300;
	}

	#close {
		position: absolute;
		top: 1.4vw;
		right: 1.3vw;
		cursor: pointer;
	}
}
